<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col">
      <div style="text-align:center">
        <h1 *ngIf="0">
          Welcome to {{ title }}!
        </h1>
        <a routerLink="" [queryParams]=""><img src="../assets/images/nc-logo-youtube-mobile.png" alt="YouTube Pic"
                                               class="img-fluid w-25"></a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>




