$addParamsBorder: rgba(194, 203, 194, 0.65) solid 1px;

.reset{
  right: 25px;
  top: 0;
}
.openFilters{
  background-color: white;
  border: $addParamsBorder;
  cursor: pointer;
  font-size: 0.8rem;
}
.filters{
  border: $addParamsBorder;
  border-top: none;
  font-size: 0.8rem;
}
nav{

}
